:root {
  --jp-border-width: 0px;
  --jp-border-radius: 5px;
  --jp-ui-font-scale-factor: 1.2;
  --jp-ui-font-size0: 0.83333em;
  --jp-ui-font-size1: 13px;
  --jp-ui-font-size2: 1.1428em;
  --jp-ui-font-size3: 1.285714em;
  --jp-ui-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --jp-content-line-height: 1.6;
  --jp-content-font-scale-factor: 1.2;
  --jp-content-font-size0: .875em;
  --jp-content-font-size1: 14px;
  --jp-content-font-size2: 1.142857em;
  --jp-content-font-size3: 1.25em;
  --jp-content-font-size4: 1.75em;
  --jp-content-font-size5: 2em;
  --jp-content-presentation-font-size1: 17px;
  --jp-content-heading-line-height: 1;
  --jp-content-heading-margin-top: 1.2em;
  --jp-content-heading-margin-bottom: .8em;
  --jp-content-heading-font-weight: 500;
  --jp-content-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --jp-content-font-color1: var(--amphi-text-01);
  --jp-code-font-size: 12px;
  --jp-code-line-height: 1.33;
  --jp-code-padding: .416em;
  --jp-code-font-family-default: "IBM Plex Mono", monospace;
  --jp-code-font-family: var(--jp-code-font-family-default);
  --jp-code-presentation-font-size: 16px;
  --jp-code-cursor-width0: 1.4px;
  --jp-code-cursor-width1: 2px;
  --jp-code-cursor-width2: 4px;
  --jp-cell-padding: 0;
  --jp-cell-collapser-width: 5px;
  --jp-cell-collapser-min-height: 20px;
  --jp-cell-collapser-not-active-hover-opacity: .6;
  --jp-cell-prompt-width: 64px;
  --jp-cell-prompt-font-family: "IBM Plex Mono", monospace;
  --jp-cell-prompt-letter-spacing: 0px;
  --jp-cell-prompt-opacity: 1;
  --jp-cell-prompt-not-active-opacity: .5;
  --jp-notebook-padding: 10px;
  --jp-notebook-scroll-padding: calc( 100% - var(--jp-code-font-size) * var(--jp-code-line-height) - var(--jp-code-padding) - var(--jp-cell-padding) - 1px );
  --jp-console-padding: 10px;
  --jp-toolbar-micro-height: 8px;
  --jp-toolbar-header-margin: 4px 4px 0px 4px;
  --jp-sidebar-min-width: 280px;
  --jp-shadow-base-lightness: 0;
  --jp-shadow-umbra-color: rgba( var(--jp-shadow-base-lightness), var(--jp-shadow-base-lightness), var(--jp-shadow-base-lightness), .2 );
  --jp-shadow-penumbra-color: rgba( var(--jp-shadow-base-lightness), var(--jp-shadow-base-lightness), var(--jp-shadow-base-lightness), .14 );
  --jp-shadow-ambient-color: rgba( var(--jp-shadow-base-lightness), var(--jp-shadow-base-lightness), var(--jp-shadow-base-lightness), .12 );
  --jp-elevation-z0: none;
  --jp-elevation-z1: 0px 1px 1px -1px var(--jp-shadow-umbra-color), 0px 1px 1px 0px var(--jp-shadow-penumbra-color), 0px 1px 1px 0px var(--jp-shadow-ambient-color);
  --jp-elevation-z2: 0px 3px 1px -2px var(--jp-shadow-umbra-color), 0px 2px 2px 0px var(--jp-shadow-penumbra-color), 0px 1px 5px 0px var(--jp-shadow-ambient-color);
  --jp-elevation-z4: 0px 2px 4px -1px var(--jp-shadow-umbra-color), 0px 4px 5px 0px var(--jp-shadow-penumbra-color), 0px 1px 10px 0px var(--jp-shadow-ambient-color);
  --jp-elevation-z6: 0px 3px 5px -1px var(--jp-shadow-umbra-color), 0px 6px 10px 0px var(--jp-shadow-penumbra-color), 0px 1px 18px 0px var(--jp-shadow-ambient-color);
  --jp-elevation-z8: 0px 5px 5px -3px var(--jp-shadow-umbra-color), 0px 8px 10px 1px var(--jp-shadow-penumbra-color), 0px 3px 14px 2px var(--jp-shadow-ambient-color);
  --jp-elevation-z12: 0px 7px 8px -4px var(--jp-shadow-umbra-color), 0px 12px 17px 2px var(--jp-shadow-penumbra-color), 0px 5px 22px 4px var(--jp-shadow-ambient-color);
  --jp-elevation-z16: 0px 8px 10px -5px var(--jp-shadow-umbra-color), 0px 16px 24px 2px var(--jp-shadow-penumbra-color), 0px 6px 30px 5px var(--jp-shadow-ambient-color);
  --jp-elevation-z20: 0px 10px 13px -6px var(--jp-shadow-umbra-color), 0px 20px 31px 3px var(--jp-shadow-penumbra-color), 0px 8px 38px 7px var(--jp-shadow-ambient-color);
  --jp-elevation-z24: 0px 11px 15px -7px var(--jp-shadow-umbra-color), 0px 24px 38px 3px var(--jp-shadow-penumbra-color), 0px 9px 46px 8px var(--jp-shadow-ambient-color);
  --jp-warn-color0: #b28600;
  --jp-warn-color1: #d2a106;
  --jp-warn-color2: #f1c21b;
  --jp-warn-color3: #fddc69;
  --jp-error-color0: #750e13;
  --jp-error-color1: #da1e28;
  --jp-error-color2: #ff8389;
  --jp-error-color3: #ffd7d9;
  --jp-success-color0: #044317;
  --jp-success-color1: #198038;
  --jp-success-color2: #42be65;
  --jp-success-color3: #a7f0ba;
  --jp-info-color0: #002d9c;
  
  --jp-info-color1: #5A8F7B;
  --jp-info-color2: #78a9ff;
  --jp-info-color3: #d0e2ff;
  --jp-statusbar-height: 24px;

  --amphi-interactive-01: #5A8F7B;
  --amphi-interactive-02: #393939;
  --amphi-interactive-03: #5A8F7B;
  --amphi-interactive-04: #5A8F7B;
  --amphi-ui-background: #ffffff;
  /* --amphi-ui-01: #f4f4f4; */
  --amphi-ui-01: #ffffff;
  --amphi-ui-02: #ffffff;
  --amphi-ui-03: #F2F4F7;
  --amphi-ui-04: #fff;
  --amphi-ui-05: #161616;
  --amphi-text-01: #000000;
  --amphi-text-02: #525252;
  --amphi-text-03: #a8a8a8;
  --amphi-text-04: #ffffff;
  --amphi-text-05: #6f6f6f;
  --amphi-text-error: #da1e28;
  --amphi-icon-01: #161616;
  --amphi-icon-02: #525252;
  --amphi-icon-03: #ffffff;
  --amphi-link-01: #5A8F7B;
  --amphi-link-02: #0043ce;
  --amphi-inverse-link: #78a9ff;
  --amphi-field-01: #f4f4f4;
  --amphi-field-02: #ffffff;
  --amphi-inverse-01: #ffffff;
  --amphi-inverse-02: #393939;
  --amphi-support-01: #da1e28;
  --amphi-support-02: #198038;
  --amphi-support-03: #f1c21b;
  --amphi-support-04: #0043ce;
  --amphi-inverse-support-01: #fa4d56;
  --amphi-inverse-support-02: #42be65;
  --amphi-inverse-support-03: #f1c21b;
  --amphi-inverse-support-04: #4589ff;
  --amphi-overlay-01: rgba(22, 22, 22, .5);
  --amphi-danger-01: #da1e28;
  --amphi-danger-02: #da1e28;
  --amphi-focus: #5A8F7B;
  --amphi-inverse-focus-ui: #ffffff;
  --amphi-hover-primary: #0353e9;
  --amphi-active-primary: #002d9c;
  --amphi-hover-primary-text: #0043ce;
  --amphi-hover-secondary: #4c4c4c;
  --amphi-active-secondary: #F2F4F7;
  --amphi-hover-tertiary: #0353e9;
  --amphi-active-tertiary: #002d9c;
  --amphi-hover-ui: #F2F4F7;
  --amphi-hover-light-ui: #F2F4F7;
  --amphi-hover-selected-ui: #F2F4F7;
  --amphi-active-ui: #F2F4F7;
  --amphi-active-light-ui: #F2F4F7;
  --amphi-selected-ui: #F2F4F7;
  --amphi-selected-light-ui: #F2F4F7;
  --amphi-inverse-hover-ui: #4c4c4c;
  --amphi-hover-danger: #b81921;
  --amphi-active-danger: #750e13;
  --amphi-hover-row: #EBEBEA;
  --amphi-visited-link: #5A8F7B;
  --amphi-disabled-01: #f4f4f4;
  --amphi-disabled-02: #c6c6c6;
  --amphi-disabled-03: #8d8d8d;
  --amphi-highlight: #d0e2ff;
  --amphi-decorative-01: #e0e0e0;
  --amphi-button-separator: #e0e0e0;
  --amphi-skeleton-01: #EBEBEA;
  --amphi-skeleton-02: #c6c6c6;
  --amphi-background: #ffffff;
  --amphi-layer: #f4f4f4;
  --amphi-layer-accent: #e0e0e0;
  --amphi-layer-accent-hover: #d1d1d1;
  --amphi-layer-accent-active: #a8a8a8;
  --amphi-field: #f4f4f4;
  --amphi-background-inverse: #393939;
  --amphi-background-brand: #5A8F7B;
  --amphi-interactive: #5A8F7B;
  --amphi-border-subtle: #e0e0e0;
  --amphi-border-strong: #8d8d8d;
  --amphi-border-inverse: #161616;
  --amphi-border-interactive: #ffffff;
  --amphi-text-primary: #161616;
  --amphi-text-secondary: #525252;
  --amphi-text-placeholder: #a8a8a8;
  --amphi-text-helper: #6f6f6f;
  --amphi-text-on-color: #ffffff;
  --amphi-text-inverse: #ffffff;
  --amphi-link-primary: #5A8F7B;
  --amphi-link-secondary: #0043ce;
  --amphi-link-visited: #5A8F7B;
  --amphi-link-inverse: #78a9ff;
  --amphi-icon-primary: #161616;
  --amphi-icon-secondary: #525252;
  --amphi-icon-on-color: #ffffff;
  --amphi-icon-inverse: #ffffff;
  --amphi-support-error: #da1e28;
  --amphi-support-success: #198038;
  --amphi-support-warning: #f1c21b;
  --amphi-support-info: #0043ce;
  --amphi-support-error-inverse: #fa4d56;
  --amphi-support-success-inverse: #42be65;
  --amphi-support-warning-inverse: #f1c21b;
  --amphi-support-info-inverse: #4589ff;
  --amphi-overlay: rgba(22, 22, 22, .5);
  --amphi-toggle-off: #8d8d8d;
  --amphi-shadow: rgba(0, 0, 0, .3);
  --amphi-button-primary: #5A8F7B;
  --amphi-button-secondary: #393939;
  --amphi-button-tertiary: #5A8F7B;
  --amphi-button-danger-primary: #da1e28;
  --amphi-button-danger-secondary: #da1e28;
  --amphi-background-active: #c6c6c6;
  --amphi-layer-active: #c6c6c6;
  --amphi-button-danger-active: #750e13;
  --amphi-button-primary-active: #002d9c;
  --amphi-button-secondary-active: #6f6f6f;
  --amphi-button-tertiary-active: #002d9c;
  --amphi-focus-inset: #ffffff;
  --amphi-focus-inverse: #ffffff;
  --amphi-background-hover: #EBEBEA;
  --amphi-layer-hover: #EBEBEA;
  --amphi-field-hover: #EBEBEA;
  --amphi-background-inverse-hover: #4c4c4c;
  --amphi-link-primary-hover: #0043ce;
  --amphi-button-danger-hover: #b81921;
  --amphi-button-primary-hover: #0353e9;
  --amphi-button-secondary-hover: #4c4c4c;
  --amphi-button-tertiary-hover: #0353e9;
  --amphi-background-selected: #e0e0e0;
  --amphi-background-selected-hover: #cacaca;
  --amphi-layer-selected: #e0e0e0;
  --amphi-layer-selected-hover: #cacaca;
  --amphi-layer-selected-inverse: #161616;
  --amphi-border-subtle-selected: #c6c6c6;
  --amphi-border-disabled: #f4f4f4;
  --amphi-text-disabled: #c6c6c6;
  --amphi-button-disabled: #c6c6c6;
  --amphi-icon-disabled: #c6c6c6;
  --amphi-text-on-color-disabled: #8d8d8d;
  --amphi-icon-on-color-disabled: #8d8d8d;
  --amphi-layer-selected-disabled: #8d8d8d;
  --amphi-skeleton-background: #EBEBEA;
  --amphi-skeleton-element: #c6c6c6;
  --amphi-brand-01: #5A8F7B;
  --amphi-brand-02: #393939;
  --amphi-brand-03: #5A8F7B;
  --amphi-active-01: #c6c6c6;
  --amphi-hover-field: #EBEBEA;
  --amphi-danger: #da1e28;

  --jp-content-link-color: var(--amphi-link-01);
  --jp-border-color0: var(--amphi-ui-04);
  --jp-border-color1: var(--amphi-ui-04);
  --jp-border-color2: var(--amphi-ui-03);
  --jp-border-color3: var(--amphi-ui-01);
  --jp-border-focus: var(--amphi-focus);
  --jp-ui-font-color0: var(--amphi-text-01);
  --jp-ui-font-color1: var(--amphi-text-02);
  --jp-ui-font-color2: var(--amphi-text-03);
  --jp-ui-font-color3: var(--amphi-text-04);
  --jp-ui-font-color4: var(--amphi-text-05);
  --jp-ui-inverse-font-color0: var(--amphi-inverse-01);
  --jp-ui-inverse-font-color1: var(--amphi-inverse-01);
  --jp-ui-inverse-font-color2: var(--amphi-inverse-01);
  --jp-ui-inverse-font-color3: var(--amphi-inverse-01);
  --jp-layout-background: var(--amphi-ui-background);
  --jp-layout-color0: var(--amphi-ui-01);
  --jp-layout-color1: var(--amphi-ui-02);
  --jp-layout-color2: var(--amphi-ui-03);
  --jp-layout-color3: var(--amphi-ui-04);
  --jp-layout-color4: var(--amphi-ui-05);
  --jp-layout-hover: var(--amphi-hover-ui);
  --jp-active-color: var(--amphi-active-ui);
  --jp-disabled-color0: var(--amphi-disabled-01);
  --jp-disabled-color1: var(--amphi-disabled-02);
  --jp-disabled-color2: var(--amphi-disabled-03);
  --jp-inverse-layout-color0: var(--amphi-icon-01);
  --jp-inverse-layout-color1: var(--amphi-icon-01);
  --jp-inverse-layout-color2: var(--amphi-icon-02);
  --jp-inverse-layout-color3: var(--amphi-icon-02);
  --jp-inverse-layout-color4: var(--amphi-icon-03);
  --jp-brand-color0: var(--amphi-brand-02);
  --jp-brand-color1: var(--amphi-brand-01);
  --jp-brand-color2: var(--amphi-brand-03);
  --jp-brand-color3: var(--amphi-brand-03);
  --jp-accent-color0: var(--amphi-support-02);
  --jp-accent-color1: var(--amphi-support-02);
  --jp-accent-color2: var(--amphi-inverse-support-02);
  --jp-accent-color3: var(--amphi-inverse-support-02);
  --jp-cell-editor-background: var(--amphi-ui-background);
  --jp-cell-editor-border-color: var(--amphi-ui-01);
  --jp-cell-editor-box-shadow: inset 0 0 2px var(--amphi-active-primary);
  --jp-cell-editor-active-background: var(--amphi-ui-background);
  --jp-cell-editor-active-border-color: var(--amphi-brand-01);
  --jp-cell-prompt-not-active-font-color: var(--amphi-text-03);
  --jp-cell-inprompt-font-color: var(--amphi-text-01);
  --jp-cell-outprompt-font-color: var(--amphi-text-01);
  --jp-notebook-select-background: var(--amphi-ui-02);
  --jp-notebook-multiselected-color: var(--amphi-interactive-04);
  --jp-rendermime-error-background: var(--amphi-ui-01);
  --jp-rendermime-table-row-background: var(--amphi-ui-02);
  --jp-rendermime-table-row-hover-background: var(--amphi-ui-03);
  --jp-dialog-background: var(--amphi-overlay-01);
  --jp-toolbar-border-color: var(--amphi-ui-04);
  --jp-toolbar-background: var(--amphi-ui-01);
  --jp-toolbar-box-shadow: none;
  --jp-toolbar-active-background: var(--amphi-ui-03);
  --jp-input-box-shadow: inset 0 0 2px var(--amphi-ui-01);
  --jp-input-active-background: var(--amphi-field-01);
  --jp-input-hover-background: var(--amphi-hover-field);
  --jp-input-background: var(--amphi-field-02);
  --jp-input-border-color: var(--amphi-ui-04);
  --jp-input-active-border-color: var(--amphi-brand-01);
  --jp-editor-selected-background: var(--amphi-selected-light-ui);
  --jp-editor-selected-focused-background: var(--amphi-selected-light-ui);
  --jp-editor-cursor-color: var(--amphi-text-01);
  --jp-vega-background: var(--amphi-ui-background);
  --jp-private-split-panel-color: var(--amphi-skeleton-01);
  --jp-scrollbar-bg: transparent;
  --jp-scrollbar-color: var(--amphi-text-03);
  --jp-highlight: var(--amphi-highlight);
  --jp-field01: var(--amphi-field-01);
  --jp-field02: var(--amphi-field-02);


  /* Tab
  */
  --jp-private-horizontal-tab-height: 32px;
  --jp-private-toolbar-height: calc(42px + var(--jp-border-width));
  --jp-private-input-height: 40px;

  /* Toolbar */
  --jp-private-horizontal-tab-height: 32px;

  /* Menu
  */
  --jp-private-menubar-height: 48px;
  --jp-private-menu-item-height: 34px;

  /* sidebar
  */
  --jp-private-sidebar-tab-width: 48px;
  --jp-private-sidebar-tab-height: 48px;

  --neutral-fill-input-rest: var(--amphi-ui-03)
  /*  --accent-fill-rest: var(--jp-info-color1);   */
/* search bar */

}
