/*

*/

.ant-tree-node-content-wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .ant-tree-node-content-wrapper .anticon {
    margin-right: 4px; /* Adjust spacing between icon and text */
    flex-shrink: 0;    /* Prevent the icon from shrinking */
  }
  
  .ant-tree-node-content-wrapper span {
    overflow: hidden;
    text-overflow: ellipsis;
  }

.palette-snowflake-category,
.palette-snowflake-tables {
  margin-left: 8px; /* Adjust as needed */
  overflow: hidden;
  text-overflow: ellipsis;
}

.tree-container {
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 10px; /* Adjust padding for scrollbar spacing */
  }