.amphi-Console {
  flex-direction: column;
  overflow: auto;
  font-size: var(--jp-ui-font-size0);
}

.amphi-Console-table {
  font-family: monospace;
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  color: var(--jp-content-font-color1);
}

.amphi-Console-date {
  vertical-align: top;
  width: 8em;
  min-width: 8em;
  max-width: 8em;
}

.amphi-Console pre {
  font-size: 11px;
}

.amphi-Console-title {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-content-font-color1);
  text-align: left;
  padding-left: 10px;
}

.type-button {
  color: var(--jp-ui-font-color0);
}

.name-button {
  color: var(--jp-ui-font-color1);
}

.filter-list {
  display: flex;
}